
.vs/GitProject/FileContentIndex/380ebd1c-bb85-434e-9899-114506f84f61.vsidx
.vs/GitProject/FileContentIndex/123fc996-555c-4b01-976f-dee59fb06d6e.vsidx
.vs/GitProject/FileContentIndex/a79bc8be-cfff-45fc-b911-4cff261d9ace.vsidx
.vs/GitProject/FileContentIndex/d592a644-a8d5-4377-a41b-1b76ed864f88.vsidx
.vs/GitProject/FileContentIndex/ffbd7bd7-cc69-4693-8470-1e92921d2d38.vsidx
.vs/GitProject/v17/.wsuo
.vs/GitProject/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/GitProject/FileContentIndex/29469a61-c179-4bdc-8286-a69d4ba4ecbd.vsidx
.vs/GitProject/FileContentIndex/344340d3-e20e-4941-9ba6-38e3055c3c8f.vsidx
.vs/GitProject/FileContentIndex/3c3ccd47-dfa6-4ef4-bbee-4f4113148bf0.vsidx
.vs/GitProject/FileContentIndex/b92eedd8-9f22-4262-8601-1b8f3f2caeda.vsidx
.vs/GitProject/FileContentIndex/c2fadba9-0efe-48fe-984f-da343e924c05.vsidx
.vs/GitProject/FileContentIndex/d868b9a6-4699-4462-9f37-63f5b93bbaa4.vsidx
.vs/slnx.sqlite-journal
.vs/GitProject/v17/DocumentLayout.backup.json
